$numRows: 6;
$row-width: 100/$numRows;

#budget-body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, rgb(4, 2, 107) 27%, rgb(26, 66, 125) 82%);
    font-family: 'Aboreto', cursive;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Alkalami', serif;
    height: 5vh;
    text-transform: uppercase;
    margin: unset;
    padding-top: 2vh;
    background: -webkit-linear-gradient(rgba(26, 119, 39, 0.5), rgba(55, 245, 80, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

select option {
    background: rgba(68, 72, 123, 0.7);
}

#expense-item-input-field {
    width: 14vw;
}

#expense-amount-input-field, #budget-input {
    width: 9vw;
}

#expense-category-select {
    margin: 0 0.6rem;
    background-color: rgba(0, 191, 255, 0.4);
    text-transform: uppercase;
    font-size: 1.2rem;
    border: inset 2px white;
}

#expense-category-select,
#expense-entry-button {
    border-radius: 3px;
    color: white;
}

#expense-entry-button {
    background-color: rgba(89, 94, 159, 0.5);
    border: 3px double white;
    padding: 0 1rem;
    transition: all 1s ease-out;
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

#expense-entry-button:active {
    scale: calc(0.75);
    color: red;
    font-weight: bolder;
}

#budget-input,
#expense-item-input-field,
#expense-amount-input-field {
    background-color: unset;
    border-bottom: 0.2rem solid rgba(68, 72, 123, 1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0.1rem 0.3rem;
}

#budget-amount {
    color: rgba(1, 162, 1, 1);
    transition: opacity 1s ease-out;
}

.budget-caption {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: rgb(134, 134, 134);
}

#remainder {
    color: rgb(230, 3, 3);
}

#budget-input,
#expense-item-input-field,
#expense-amount-input-field,
#budget-input::placeholder,
#expense-item-input-field::placeholder,
#expense-amount-input-field::placeholder {
    color: white;
    // font-family: 'Aboreto', cursive;
    text-transform: uppercase;
    font-family: 'Volkhov', serif;
    font-size: 1.8vw;
}

#input-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px auto;
    color: white;
}


.current-variable-info {
    // background: linear-gradient(to top, rgba(18, 82, 26, 0.6) 18%, rgba(35, 162, 39, 0.1) 62%, rgba(35, 162, 39, 0) 100%);
    background: radial-gradient( rgba(35, 162, 39, 0) 36%, rgba(35, 162, 39, 0.1) 62%,  rgba(55, 245, 80, 0.5) 100%);
    display: inline-flex;
    width: 22vw;
    margin: 1vh 0 0 8vw;
    border-left: 4px solid rgba(18, 82, 26, 0.6);
    border-bottom: 4px double rgba(18, 82, 26, 0.6);
    border-right: 4px solid rgba(18, 82, 26, 0.6);
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    font-family: "Viaoda Libre", cursive; 
    font-weight: bold;
    font-size: 3vw;
    text-shadow: -2px 2px 5px black;
    opacity: 1;
}

#expense-total, .expense-item {
    color: rgba(0, 191, 255, 0.7);
}

#expense-content {
    display: flex;
    flex-direction: column;
    border-left: 4px solid rgba(18, 82, 26, 0.6);
    border-top: 4px double rgba(18, 82, 26, 0.6);
    border-right: 4px solid rgba(18, 82, 26, 0.6);
    border-bottom: 4px double rgba(18, 82, 26, 0.6);
    border-radius: 12px;
    width: 95%;
    height: 65vh;
    line-height: 9vh;
    background: radial-gradient(rgba(35, 162, 39, 0) 18%, rgba(35, 162, 39, 0.1) 63%,  rgba(55, 245, 80, 0.5) 100%);
    align-items: center;
    justify-content: center;
    margin: 1vh auto 0px auto;
    padding: 1vh 0;
}

.current-variable-info {
    animation: openVariableSummary 2s ease-out forwards;
}

.expense-category-output, 
.expense-category-output-total, 
.expense-category-item, 
.expense-category-list, 
.expense-list {
    animation: openCategorySummary 2s ease-out forwards;
}

#expense-content {
    animation: openOverview 2s ease-out;
}

@keyframes openVariableSummary {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes openCategorySummary {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes openOverview {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.expense-category-output {
    text-transform: uppercase;
    font-family: 'Erica One', cursive;
}

.expense-category-output:hover {
    cursor: pointer;
}

.expense-category-output-total {
    font-family: 'Diplomata SC', cursive;
}

.expense-category-output, .expense-category-output-total {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    margin: unset;
    font-size: 7vmin;
    background: -webkit-linear-gradient(rgba(26, 119, 39, 0.5), rgba(55, 245, 80, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.expense-category-list {
    display: flex;
    padding: unset;
    line-height: 36px;
}

.expense-category-item {
    display: flex;
    justify-content: space-between;
    font-size: 4vh;
    font-family: 'Almendra', serif;
    background: -webkit-linear-gradient(rgba(26, 119, 39, 0.5), rgba(55, 245, 80, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: unset;
    padding: unset;
    line-height: 1vh;
}

#expense-list {
    height: 70vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#expense-list::-webkit-scrollbar {
    display: none;
}



// .expense-category-list, .expense-list {
//     animation: openExpenseItem 2s ease-out forwards;
// }