$numCols: 6;
$col-width: 100/$numCols;

.fuel-depot {
    display: grid;
    grid-template-columns: repeat(6, #{$col-width}vw);
    // grid-template-rows: repeat(2, 7em) repeat(2, 20em) 15em;
    grid-template-rows: 10vh 10vh 70vh 10vh;
    /* align-items: center; */
    letter-spacing: 0.1rem;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(30deg,
    rgba(200, 21, 21, 1) 25%,
    rgba(95, 2, 2, 1) 75%);
    overflow-x: hidden;
}

.fuel-title {
    display: grid;
    font-family: 'Unlock', cursive;
    font-size: 3rem;
    grid-row: 1;
    grid-column: 2 / span 4;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.type-symbol {
    width: 1.8rem;
    display: inline-flex;
    align-self: center;
}

.fuel-in {
    display: flex;
    grid-column: 1/ span 6;
    grid-row: 2;
    justify-content: center;
    align-self: center;
}

.fuel-input {
    background: linear-gradient(30deg,
        rgba(200, 21, 30, 0.9) 25%,
        rgba(146, 7, 2, 0.3) 75%);
    // box-shadow: 1px 1px 9px rgba(219, 23, 33, 0.9), -1px -1px 9px rgba(219, 23, 33, 0.9);
    box-shadow: 1px 1px 9px rgba(219, 23, 33, 0.9);
    outline: double 1px rgb(255, 96, 96);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid rgb(254, 130, 130);
    padding: 0.1rem 0.9rem;
    width: 90px;
    color: white;
}

.fuel-input, .rando-button {
    margin: 0 1rem;
}

.fuel-input::placeholder {
    color: white;
}

.output-button {
    border: unset;
    justify-self: center;
    align-self: center;
    border-radius: 0.3rem;
    margin: 0 0.4rem;
    padding: 0.3rem 0.5rem;
    background: linear-gradient(30deg,
            rgba(146, 7, 2, 0.3) 15%,
            rgba(200, 21, 30, 0.9) 60%);
    // box-shadow: 1px 1px 6px rgba(219, 23, 33, 0.9),
    //     -1px -1px 6px rgba(219, 23, 33, 0.9);
    box-shadow: 1px 1px 6px rgba(219, 23, 33, 0.9);
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 2px solid rgb(254, 130, 130);
    border-top: 2px solid rgb(254, 130, 130);
}

.fuelout {
    display: flex;
    grid-row: 3;
    grid-column: 2/ span 4;
    margin: 0.9rem auto;
}

.output-button:hover {
    cursor: pointer;
}

.randoMeal {
    font-size: 0.9rem;
}

.randoMeal, .ingredientMeal, .fuel-source {
    border-left: 1px ridge rgba(192, 135, 105, 0.9);
    border-bottom: 1px ridge rgba(192, 135, 105, 0.9);
    border-top: 1px ridge rgba(200, 84, 21, 0.9);
    border-right: 1px ridge rgba(200, 84, 21, 0.9);
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-self: center;
    justify-self: center;
    height: 66vh;
    font-family: 'Unlock', cursive;
}

.ingredientMeal {
    padding: 0 2rem 2rem;
}

#randoMeal-instructions {
    padding: 0 2rem;
}

#randoMeal-name, #randoMeal-area-category {
    display: flex;
    justify-content: center;
}

.randoMeal::-webkit-scrollbar,
.ingredientMeal::-webkit-scrollbar, .fuel-source::-webkit-scrollbar {
    display: none;
}

.final-inspirational {
    color: darkgoldenrod;
    font-family: 'Shrikhand', cursive;
    font-size: 2.1rem;
    grid-row: 4;
    grid-column: 2/ span 2;
    align-self: end;
}
// add hover effect for words in different languages to show translation

.meal-img {
    border: 1px solid rgb(80, 15, 15);
    width: 20vw;
    justify-self: center;
}
    
.dish-title {
    display: grid;
    justify-content: center;
}

.mineral, .dosage {
    padding-left: 1rem;
}

.fuel-source {
    display: grid;
    grid-row: 3;
    grid-column: 2 / span 4;
    background: linear-gradient(321deg, rgba(255,255,255,0) 25%, rgba(255, 255, 255, 0.2) 85%);
    font-family: 'Unlock', cursive;
    font-size: small;
}

.fuel-sources-title {
    text-decoration: underline;
    font-size: 1.3rem;
    display: flex;
    justify-self: center;
}
    