.resume-header {
    border-bottom: 1px dotted white;
}

.resume-address {
    line-height: 1.2rem;
    font-size: 0.9rem;
    
}

.resume-address, .resume-name {
    text-align: center;
    // color: rgba(5, 9, 120, 0.1);
    // color: rgba(25, 35, 147, 0.4);
}


#resumee {
    padding: 0 2rem;
    font-family: 'Noticia Text', serif;
}

.bullet-point {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin-right: 0.7rem;
    width: 18px;
}
.resume-item {
    display: flex;
    align-self: center;
}