#cover {
  display: grid;
  grid-template: repeat(2, auto)/auto 360px auto;
  gap: 3rem;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

#cover:fullscreen {
  height: 100vh;
}

#first-name,
#last-name {
  display: flex;
  color: #7db08c;
  font-size: 2.7rem;
  font-family: "Unlock", cursive;
  font-weight: bold;
  justify-self: end;
  opacity: 0.7;
  text-transform: uppercase;
  transition: all 2s ease-out;
}

#first-name {
  grid-row: 1;
  align-self: end;
  text-shadow: -6px -4px 4px rgb(15, 48, 60);
}

#last-name {
  grid-row: 2;
  align-self: start;
  text-shadow: -6px 4px 4px rgb(11, 35, 43);
}

#profile-pic {
  background: radial-gradient(rgba(147, 233, 190, 0.1) 0%, rgba(34, 167, 101, 0.9) 100%), url("../assets/p - 270.jpg");
  border-top: 1px solid rgb(0, 120, 240);
  border-bottom: 1px solid rgb(0, 120, 240);
  border-left: 6px solid rgb(0, 120, 240);
  border-right: 6px solid rgb(0, 120, 240);
  background-position: center;
  border-radius: 100%;
  box-shadow: -9px 9px 36px #61C2A2;
  width: 18rem;
  height: 18rem;
  display: grid;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
  justify-self: center;
  transition: all 1s ease-out;
}

#profile-pic:hover {
  cursor: pointer;
  box-shadow: -9px 9px 36px #0eaee8, -9px 9px 27px #0eaee8;
}

#profile-pic:active {
  cursor: context-menu;
  opacity: 0;
}

.menu-item {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background: radial-gradient(rgba(94, 155, 113, 0.8) 0%, rgba(204, 224, 210, 0.8) 100%);
  border: unset;
  border-bottom: 4px solid rgb(0, 120, 240);
  border-left: 2px solid rgb(0, 120, 240);
  border-right: 2px solid rgb(0, 120, 240);
  border-radius: 100%;
  box-shadow: 2px 2px 99px #61C2A2;
  width: 4.5rem;
  height: 4.5rem;
  transition: all 1s ease;
}

.menu-item:hover {
  cursor: pointer;
  background: radial-gradient(rgb(94, 155, 113) 0%, rgb(204, 224, 210) 100%);
  font-size: larger;
}

.title {
  font-size: 2rem;
  text-shadow: -1px 1px 4px #61C2A2;
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  flex-direction: column;
  grid-row: 1/span 2;
  justify-content: space-evenly;
  align-items: center;
}

#content {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  color: #CCE0D2;
  grid-row: 2;
  grid-column: 2;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  line-height: 1.8rem;
  transition: all 2s;
  text-align: center;
  width: fit-content;
}

.content-item {
  color: unset;
  display: flex;
  text-shadow: -1px 2px 3px #61C2A2;
  margin: 0 1rem;
  align-self: center;
}

#content::-webkit-scrollbar {
  display: none;
}

.intro:hover {
  cursor: grab;
}

.link-item {
  color: unset;
  display: flex;
  text-shadow: -1px 2px 3px #61C2A2;
  transition: all 0.5s ease;
  padding: 0 0.5rem;
  align-self: center;
}

.link-item:hover {
  text-shadow: 3px 3px 7px #61C2A2, -3px -3px 7px #61C2A2;
  font-weight: bold;
}

.contact-logo {
  border: 1px solid rgb(132, 254, 148);
  padding: 0.6rem 1.4rem;
  height: 3rem;
  display: flex;
  justify-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 4px inset rgb(132, 254, 148);
  background: linear-gradient(25deg, rgba(87, 167, 98, 0.4) 25%, rgba(87, 167, 98, 0.1));
}

#email-address:hover #email-address-tip {
  visibility: visible;
}

#resume,
#skills,
#projects,
#contact {
  text-align: center;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid rgb(0, 120, 240);
  border-left: 2px solid rgb(0, 120, 240);
  border-right: 2px solid rgb(0, 120, 240);
  border-radius: 100%;
  box-shadow: 3px 3px 9px #61C2A2, -3px -3px 9px #61C2A2;
  width: 4.5rem;
  height: 4.5rem;
  transition: all 1s ease-out;
}

#menu {
  display: grid;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
}

#resume:hover,
#skills:hover,
#projects:hover,
#contact:hover {
  cursor: pointer;
  box-shadow: 2px 2px 72px #61C2A2;
}

#resume:active,
#skills:active,
#projects:active,
#contact:active {
  cursor: context-menu;
  transform: scale(0.8);
}

.mailtoui {
  position: relative;
}

.tooltip-text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.tooltip-text:hover {
  visibility: visible;
}

.modalOpen {
  animation: openModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 535px) {
  #profile-pic {
    width: 15rem;
    height: 15rem;
  }
}
@media screen and (max-width: 640px) {
  #profile-pic {
    width: 17rem;
    height: 17rem;
  }
}

/*# sourceMappingURL=home.styles.css.map */
